

/*TVNORGE FONTS*/

@font-face {
    font-family: 'tvnorgebold';
    src: url('../tvnorge-webfonts/tvnorge-bold-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.svg#tvnorgebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tvnorgeheadline';
    src: url('../tvnorge-webfonts/tvnorge-headline-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.svg#tvnorgeheadline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tvnorgeregular';
    src: url('../tvnorge-webfonts/tvnorge-regular-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.svg#tvnorgeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: "tvnorgeregular", Arial, sans-serif;
	color: #000;
	background: #fff;
}

.metadata {
	display: none;
}

#main {
}

#questions {
   margin-top: 15%;
}
	.question-container {
		display: none;
	}

	.feedback-container {
		font-size: 3em;
		text-align: center;
		 
		display: none;
	}
	
/*	#feedback-1-1{
		display: block; 
	}

*/
.button{
	text-align: center;
	margin-top: 4em;

}


.button a {
    color: #fff;
    padding: 15px 20px;
    background-color: #ffafb0;
    text-decoration: none;
    border-radius: 3px;
  }  

