
/*---------------*/
/* TVNORGE FONTS */
/*--------------*/

@font-face {
    font-family: 'tvnorgebold';
    src: url('../tvnorge-webfonts/tvnorge-bold-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.svg#tvnorgebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tvnorgeheadline';
    src: url('../tvnorge-webfonts/tvnorge-headline-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.svg#tvnorgeheadline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tvnorgeregular';
    src: url('../tvnorge-webfonts/tvnorge-regular-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.svg#tvnorgeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	height: 100%;
}

body{
	font-family: 'tvnorgeregular', 'Helvetica Neue', Arial, sans-serif;
	color: #fff;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-style: normal;
   }

body.start-end {
	background-size: cover;    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#464545+0,1a1a1b+100 */
	background: url(../images/1800x1125_startresult_bg.png) no-repeat center center fixed, #464545; /* Old browsers */
	background: url(../images/1800x1125_startresult_bg.png) no-repeat center center fixed, -moz-radial-gradient(center, ellipse cover,  #464545 0%, #1a1a1b 100%); /* FF3.6+ */
	background: url(../images/1800x1125_startresult_bg.png) no-repeat center center fixed, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#464545), color-stop(100%,#1a1a1b)); /* Chrome,Safari4+ */
	background: url(../images/1800x1125_startresult_bg.png) no-repeat center center fixed,-webkit-radial-gradient(center, ellipse cover,  #464545 0%,#1a1a1b 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/1800x1125_startresult_bg.png) no-repeat center center fixed, -o-radial-gradient(center, ellipse cover,  #464545 0%,#1a1a1b 100%); /* Opera 12+ */
	background: url(../images/1800x1125_startresult_bg.png) no-repeat center center fixed, -ms-radial-gradient(center, ellipse cover,  #464545 0%,#1a1a1b 100%); /* IE10+ */
	background: url(../images/1800x1125_startresult_bg.png) no-repeat center center fixed, radial-gradient(ellipse at center,  #464545 0%,#1a1a1b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464545', endColorstr='#1a1a1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/* HARALD */
.spm-1{
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#213a78+0,0a1327+100 */
	background: #213a78; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #213a78 0%, #0a1327 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#213a78), color-stop(100%,#0a1327)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #213a78 0%,#0a1327 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #213a78 0%,#0a1327 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #213a78 0%,#0a1327 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #213a78 0%,#0a1327 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213a78', endColorstr='#0a1327',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* ODDA */
.spm-2{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b13220+0,25170e+100 */
	background: #b13220; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #b13220 0%, #25170e 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b13220), color-stop(100%,#25170e)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #b13220 0%,#25170e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #b13220 0%,#25170e 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #b13220 0%,#25170e 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #b13220 0%,#25170e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b13220', endColorstr='#25170e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* MAGNUS */
.spm-3{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596786+0,2a2f3a+100 */
	background: #596786; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #596786 0%, #2a2f3a 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#596786), color-stop(100%,#2a2f3a)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #596786 0%,#2a2f3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #596786 0%,#2a2f3a 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #596786 0%,#2a2f3a 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #596786 0%,#2a2f3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596786', endColorstr='#2a2f3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* BÅRD */
.spm-4{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#566875+0,182738+100 */
	background: #566875; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #566875 0%, #182738 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#566875), color-stop(100%,#182738)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #566875 0%,#182738 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #566875 0%,#182738 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #566875 0%,#182738 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #566875 0%,#182738 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#566875', endColorstr='#182738',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* HENRIK THODESEN */
.spm-5{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#922a25+0,362e26+100 */
	background: #922a25; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #922a25 0%, #362e26 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#922a25), color-stop(100%,#362e26)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #922a25 0%,#362e26 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #922a25 0%,#362e26 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #922a25 0%,#362e26 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #922a25 0%,#362e26 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#922a25', endColorstr='#362e26',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*---------------*/
/* TYPOGRAPHY+BUTTON   */
/*--------------*/

.btn {
	font-family: 'tvnorgebold', 'Helvetica Neue', Arial, sans-serif;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
}

.btn a {
	color: #fff;
    padding: 1.6em 2.2em;
    background-color: #d43128;
    background: rgba(212,49,40,0.5);
    text-decoration: none;
    border-radius: 3px;
    box-sizing: border-box;
	 -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin-bottom: 2em;
}

.btn a:hover, .btn a:focus{
    background: rgba(212,49,40,0.9);
}

.btn a:active{
    position: relative;
    top: 2px; 
}

/*---------------*/
/* STEP-BY-STEP NAV */
/*--------------*/


nav {
    text-align: center;
    width: 100%;
   /*  margin: 20px 0; */
    margin-bottom: 2em;
    float: left;
}   

nav ul, li{
	list-style: none;
	outline: 0;
  	background: transparent;
}
nav.text li span {
    opacity: 0;
    margin-left: -80%;
    font-weight: bold;
}
nav.text li:first-child span,
nav.text li:last-child span {
    opacity: 1;
}

/* MOVED TO GRID.css */

/*
nav.symbols li::before {
	content:"";
    background-color: #fff;
	width: 20px;
	height: 20px;
    border-radius: 15px;
	display: block;
	margin-top: -11px;
}
    
nav.symbols li div {
    opacity: 0;
    background-color: #fff;
    width: 34px;
    height: 34px;
    position: absolute;
    margin: -27px -7px;
    opacity: 0;
    border-radius: 30px;
}
*/
    
nav.symbols li:first-child div {
    opacity: 0.4;
}

nav.text {
    margin-top: 1em;
}
nav.symbols {
    border-top: 1px solid #fff;
    margin-bottom: 4em;
}

nav ul {
  width: 125%;
}

nav ul li {
  width: 13.1%; 
  float: left;
}

/*---------------*/
/* RADIO BUTTONS */
/*--------------*/


input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.metadata {
	display: none;
}

.question-container {
		display: none;
}
    .alternatives {
        float: left;
        margin-bottom: 3em;
    }
        .alternatives .alternative {
            float: left;
            width: 100%;
            padding: 1.5em 0 1.5em;
            font-size: 1.2em;
            border-bottom: 1px dotted #d22027;
            cursor: pointer;
            -webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
        }
            .active-alernative {
                background: url("../images/circle.png") !important;
                background-size: 1.375em !important;
                background-repeat: no-repeat !important;
            }
            .remove-alternative {
                opacity: 0;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }
            .alternatives .alternative:hover {
            	 margin-left: 0.5em;
            }
            .alternatives .alternative .index {
                float: left;
                background: #fff;
                color: #d22027;
                width: 2em;
                height: 2em;
                border-radius: 1em;
                text-align: center;
                line-height: 2em;
                margin-right: 1em;
            }
           .alternative .text {
                float: left;
                /* width: 15em; */
                padding-top: 0.25em;
            }

.fullscreen-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
}

#feedbacks { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}
    .feedback-container {
		position: fixed;
		display: inline-block;
        box-sizing: border-box;
        color: #f8f8f8;
        box-sizing: border-box;
        width: 80%;
        text-align: center;
   		top: 40%;
   		left: 10%;                         
   		transform: translate(0, -50%);
   		display: none;   
    }
    
  #feedback {
    	background: aqua;
    }
    
    /* TEMP STYLE: */
    #feedback-1-1 {
        display: block;
    }


#bottom-space {
    float: left;
    width: 100%;
    padding: 4em 0;
}


