
/*---------------*/
/* TVNORGE FONTS */
/*--------------*/

@font-face {
    font-family: 'tvnorgebold';
    src: url('../tvnorge-webfonts/tvnorge-bold-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-bold-webfont.svg#tvnorgebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tvnorgeheadline';
    src: url('../tvnorge-webfonts/tvnorge-headline-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-headline-webfont.svg#tvnorgeheadline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tvnorgeregular';
    src: url('../tvnorge-webfonts/tvnorge-regular-webfont.eot');
    src: url('../tvnorge-webfonts/tvnorge-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.woff2') format('woff2'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.woff') format('woff'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.ttf') format('truetype'),
         url('../tvnorge-webfonts/tvnorge-regular-webfont.svg#tvnorgeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	height: 100%;
}

body{
	font-family: 'tvnorgeregular', 'Helvetica Neue', Arial, sans-serif;
	color: #fff;
	height: 100%;
    margin: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#213a78+0,0a1327+100 */
	background: #213a78; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #213a78 0%, #0a1327 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#213a78), color-stop(100%,#0a1327)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #213a78 0%,#0a1327 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #213a78 0%,#0a1327 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #213a78 0%,#0a1327 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #213a78 0%,#0a1327 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213a78', endColorstr='#0a1327',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



body.start-end {
    background-image: url(../images/1800x1125_startresult_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}



/*---------------*/
/* BODY BORDER */
/*--------------*/

#top, #bottom, #left, #right {
	background: #223d7b;
	position: fixed;
    transition: 1s;
}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
	}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
	}
		#top { top: 0; }
		#bottom { bottom: 0; }


/* DIFFERENT BORDER COLORS FOR DIFFERENT SCREENS */

#top, #bottom, #left, #right {
	background: #223d7b;
}

#top, #bottom, #left, #right {
	background: #223d7b;
}

#top, #bottom, #left, #right {
	background: #223d7b;
}


#top, #bottom, #left, #right {
	background: #223d7b;
}

/*---------------*/
/* TYPOGRAPHY   */
/*--------------*/
h1{
	font-family: 'tvnorgebold', 'Helvetica Neue', Arial, sans-serif;
	font-style: normal;
}

#intro-text h1 {
    text-align: center;
    width: 100%;
}

#intro-text p {
    margin-bottom: 3em;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.5em;
}

#start-button a, #share-button a {
    float: left;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #d43128;
    border-radius: 0.25em;
    padding: 1em;
    margin-left: 33%;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

/*---------------*/
/* STEP-BY-STEP NAV */
/*--------------*/

nav ul, li{
	list-style: none;
	outline: 0;
  	background: transparent;
}

nav li:before{
	content:"";
	background: url("../images/circle.png") no-repeat top left;
	background-size: 22px 22px;
	width: 30px;
	height: 30px;
	display: block;
	margin-top: -10px;
}

nav {
  text-align: center;
  width: 100%;
  margin: 20px 0;
  border-top: 1px solid #fff; 
}

nav ul {
  width: 123%;
}

nav ul li {
  width: 20%; 
  float: left;
}

/*---------------*/
/* RADIO BUTTONS */
/*--------------*/


input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.metadata {
	display: none;
}

.fullscreen-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.8;
}

.centered {
	margin: 0 auto;
}

.question-container {
		display: none;
}
    .alternatives {
        float: left;
        margin-bottom: 3em;
    }
        .alternatives .alternative {
            float: left;
            width: 100%;
            cursor: pointer;
        }
            .active-alernative {
                background: url("../images/circle.png") !important;
                background-size: 1.375em !important;
                background-repeat: no-repeat !important;
            }
            .remove-alternative {
                opacity: 0;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }
            .alternatives .alternative:hover {
            	 color: #d21f26;
            }
            .alternatives .alternative:hover > .custom-radio {
                background: url("../images/circle.png");
                background-size: 22px;
                background-repeat: no-repeat !important;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
               
            }
            .alternative .custom-radio {
                float: left;
                background: none;
                background-repeat: no-repeat;
                background-size: 1.375em;
                width: 2em;
                height: 2em;
                margin-right: .5em;
            }
            .alternative .text {
                float: left;
                width: 20em;
            
            }

#feedbacks { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}
    .feedback-container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin-top: 6em;
        padding: 0;
        font-size: 3em;
        color: #fff;
        text-align: center;
    	display: none;
    }
    /* TEMP STYLE: */
    #feedback-1-1 {
        display: block;
    }
